*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-txtColor: #1E453E;
    --txtBlack: #121212;
    --txtWhite: #f5f5f5;

    --primary-bgColor: #1E453E;
    --cocktailColor: #82BC23;
    --blankaGreen: #A2D240;
    --goldenRod: goldenrod;
    --palevioletred: palevioletred;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    color: var(--primary-txtColor);
}

.container {
    max-width: 1280px;
}