*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-txtColor: #1E453E;
    --txtBlack: #121212;
    --txtWhite: #f5f5f5;

    --primary-bgColor: #1E453E;
    --cocktailColor: #82BC23;
    --blankaGreen: #A2D240;
    --goldenRod: goldenrod;
    --palevioletred: palevioletred;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Berkshire Swash', serif;
    color: var(--primary-txtColor);
}

.bg-video {
    width: 100vw;
}

video {
    object-fit: cover;
    height: 100vh;
    width: 100vw;

    position: fixed;
    inset: 0;
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    z-index: 9;
    opacity: 70%;
}

/*** M A I N ***/
.main {
    width: 100%;
    height: 100vh;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    position: absolute;
    inset: 0;
    z-index: 99;
}

.main .section {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
}

.section .hero-article {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

/*** H E R O  P A G E ***/
.hero-article .hero-left {
    width: 100%;
    
    display: none;
    align-items: center;
    justify-content: center;
}

.hero-left .bg-person {
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-person .img-fluid {
    width: 100%;
    height: 100%;
}

/*** H E R O  R I G H T ***/
.hero-article .hero-right {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0 2rem;
}

.hero-right .hero-logo {
    height: 2.3rem;
    margin-bottom: 1rem;
}

.hero-logo .img-fluid {
    height: 100%;
    width: 100%;
}

.hero-right .hero-headings {
    width: 19rem;
    height: 7rem;
}

.hero-headings .img-fluid {
    height: 100%;
    width: 100%;
}

.hero-right h1 {
    font-size: 2rem;
    gap: 1rem;
    width: 100%;
    /* background: linear-gradient(#82BC23, goldenrod);
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent; */
    /* color: #FF3131; */
    color: var(--txtWhite);
    /* background-image: linear-gradient(315deg, #ff7878 0%, #ff0000 74%); */
}

.hero-right p {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--goldenRod);
}

.hero-right .playBtnDiv {
    width: auto;
    height: 4.5rem;
    margin-top: 0.5rem;
}

.playBtnDiv:hover {
    scale: (1.1);
}

.playBtnDiv .img-fluid {
    height: 100%;
    width: 100%;
}


/********* B R E A K P O I N T S ***********/

@media only screen and (min-width: 576px){
    .hero-article .hero-left {
        display: flex;
    }

    .hero-right .hero-logo {
        display: none;
    }

    .hero-right .hero-headings {
        width: 33rem;
        height: 10rem;
    }

    .hero-right h1 {
        font-size: 2.5rem;
    }

    .hero-right p {
        font-size: 1.5rem;
    }

    .hero-right .playBtnDiv {
        height: 5.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .hero-left .bg-person {
        height: 21.5rem;
        width: auto;
    }

    .hero-right .hero-headings {
        width: 43rem;
        height: 13rem;
    }

    .hero-right h1 {
        font-size: 3rem;
    }

    .hero-right p{
        font-size: 1.6rem;
        padding: 0 10%;
    }

    .hero-right .playBtnDiv {
        height: 6rem;
    }
}

@media only screen and (min-width: 992px) {
    .section .hero-article {
        flex-direction: row-reverse;
        align-items: center;
        gap: 0;
    }

    .hero-right .hero-logo {
        display: flex;
    }

    .hero-left .bg-person {
        height: 17.5rem;
    }

    .hero-right .hero-headings {
        width: 30rem;
        height: 9rem;
    }

    .hero-right h1 {
        font-size: 2.8rem;
    }

    .hero-right p {
        font-size: 1.4rem;
    }

    .hero-right .playBtnDiv {
        height: 4.8rem;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .hero-left .bg-person {
        height: 23rem;
    }
    
    .hero-right .hero-headings {
        width: 100%;
        height: 13rem;
    }

    .hero-right .hero-logo {
        margin-bottom: 2rem;
    }

    .hero-right h1 {
        font-size: 3.3rem;
        padding: 0 2rem;
    }

    .hero-right p {
        font-size: 1.5rem;
    }

    .hero-right .playBtnDiv {
        height: 5.5rem;
    }
}

@media only screen and (min-width: 1440px) {
    .section .hero-article {
        justify-content: space-between;
    }

    .hero-left .bg-person {
        height: 23rem;
        width: 100%;
    }

    .hero-right .hero-logo {
        height: 3rem;
    }

    .hero-right .hero-headings {
        height: 12rem;
        width: 100%;
    }

    .hero-right h1{
        padding: 0;
        font-size: 3.7rem;
    }

    .hero-right p{
        font-size: 1.8rem;
    }

    .hero-right .playBtnDiv {
        height: 6rem;
    }
}


@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1590px;
    }

    .hero-left .bg-person {
        height: 28rem;
        width: 100%;
    }

    .section .hero-article {
        justify-content: space-between;
        width: 100%;
    }

    .hero-right .hero-headings {
        height: 15rem;
        width: 100%;
    }
}