*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

.container {
    max-width: 1280px;
}

.bg-video {
    width: 100vw;
}

video {
    object-fit: cover;
    height: 100vh;
    width: 100vw;

    position: fixed;
    inset: 0;
}

.video-overlay {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.1);
    z-index: 9;
}

.header {
    width: 100%;
    /* background-color: rgba(0,0,0, 0.1); */

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
}

.header .nav {
    width: 100%;
    padding: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo-div {
    height: 2rem;
}

.logo-div .img-fluid {
    height: 100%;
    width: 100%;
}

.nav .nav-links {
    /* width: 50%; */

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
}

.nav-links li {
    list-style: none;
    /* background-color: #F9FCFF; */
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    color: whitesmoke;
}

.nav-links a:hover {
    color: #82BC23;
}

/*** M A I N ***/
.main {
    width: 100%;
    height: 100vh;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    inset: 0;
    z-index: 99;
}

.main .section {
    width: 100%;
    height: 100vh;

    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.hero-article {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5rem;
}

/*** H E R O  P A G E ***/
.hero-left {
    width: 100%; 
}

/*** H E R O  R I G H T ***/
.hero-right {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.3rem;
}

.hero-right h1 {
    font-size: 5rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.hero-right .endless {
    color: goldenrod;
}

.hero-right .life {
    color: palevioletred;
}

.hero-right h4 {
    font-size: 1.5rem;
}

.hero-right p {
    font-size: 1.3rem;
}

.hero-right .hero-btn {
    border: none;
    outline: none;
    border-radius: 30px;

    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #121212;
    background-color: #82BC23;
    cursor: pointer;
}

.hero-right .hero-btn:hover {
    background-color: #A2D240;
}

/*** B A N N E R ***/
.section-banner {
    width: 100%;
    background-color: green;

    display: flex;
    align-self: center;
    justify-content: center;
}

.section-banner .banner-article {
    width: 100%;
    height: auto;
    padding: 2rem 0;
}

.banner-article .team-wrapper {
    width: 100%;

    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
}

.team-wrapper .hero-logo-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}

.hero-logo-box .hero-logo-div {
    height: 6rem;
    width: 6rem;
}

.hero-logo-div .img-fluid {
    height: 100%;
    width: 100%;
}

.hero-left .company-name {
    font-size: 1.2rem;
    font-weight: 600;
}