*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-txtColor: #1E453E;
    --txtBlack: #121212;
    --txtWhite: #f5f5f5;

    --primary-bgColor: #1E453E;
    --cocktailColor: #82BC23;
    --blankaGreen: #A2D240;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    color: var(--primary-txtColor);
}

.container {
    max-width: 1280px;
}

.bg-video {
    width: 100vw;
}

video {
    object-fit: cover;
    height: 100vh;
    width: 100vw;

    position: fixed;
    inset: 0;
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.1);
    z-index: 9;
}

.video-overlay .bg-person {
    display: block;
}

.header {
    width: 100%;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
}

.header .nav {
    width: 100%;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container .menu {
    display: none;
}

.logo-container .logo-div {
    height: 2rem;
    width: 2rem;
}

.logo-div .img-fluid {
    height: 100%;
    width: 100%;
}

.nav .nav-links {
    /* width: 50%; */

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
}

.nav-links li {
    list-style: none;
    /* background-color: #F9FCFF; */
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--txtWhite);
}

.nav-links a:hover {
    color: var(--cocktail-bgColor);
}

.mobile-nav {
    display: none;
}

/*** M A I N ***/
.main {
    width: 100%;
    height: 100vh;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    position: absolute;
    inset: 0;
    z-index: 99;
}

.main .section {
    width: 100%;
    height: 40rem;

    display: flex;
    align-items: center;
    margin-top: 7rem;

}

.section .hero-article {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

/*** H E R O  P A G E ***/
.hero-article .hero-left {
    width: 50%;
    
    display: flex;
    align-items: end;
    justify-content: end;
}

.hero-left .bg-person {
    height: 45rem;
    width: fit-content;
}

.bg-person .img-fluid {
    height: 100%;
    width: 100%;
}

/*** H E R O  R I G H T ***/
.hero-article .hero-right {
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.3rem;
    padding: 0 2rem;
}

.hero-right h1 {
    font-size: 5rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.hero-right .endless {
    color: goldenrod;
}

.hero-right .life {
    color: palevioletred;
}

.hero-right h4 {
    font-size: 1.5rem;
}

.hero-right p {
    font-size: 1.3rem;
    color: var(--txtBlack);
}

.hero-right .hero-btn {
    border: none;
    outline: none;
    border-radius: 30px;

    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--txtBlack);
    background-color: var(--cocktailColor);
    cursor: pointer;
}

.hero-right .hero-btn:hover {
    background-color: var(--blankaGreen);
}

/*** B A N N E R ***/
.pba-section-banner {
    width: 100%;

    display: flex;
    align-self: center;
    justify-content: center;
}

.pba-section-banner .banner-article {
    width: 100%;
    height: auto;
    padding: 2rem;
}

.banner-article .pba-wrapper {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.pba-wrapper .hero-logo-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}

.hero-logo-box .pba-logo-div {
    height: 6rem;
    width: 6rem;
}

.pba-logo-div .img-fluid {
    height: 100%;
    width: 100%;
}

.section-banner {
    width: 100%;
    /* background-color:var(--primary-txtColor); */

    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 10rem;
}

.section-banner .banner-article {
    width: 100%;
    height: auto;
    padding: 2rem;
}

.banner-article .banner-title-div {
    width: 100%;
    height: 7rem;
}

.banner-title-div .banner-title {
    font-size: 2.5rem;
    text-align: center;
}

.banner-article .team-wrapper {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1.8rem;
}

.team-wrapper .hero-logo-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}

.hero-logo-box .hero-logo-div {
    height: 5rem;
    width: 5rem;
}

.hero-logo-div .img-fluid {
    height: 100%;
    width: 100%;
}

.hero-logo-box .company-name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--txtBlack);
}

/********* B R E A K P O I N T S ***********/

@media only screen and (min-width: 2000px) {
    .video-overlay .bg-person {
        display: none;
    }

    .main {
        justify-content: start;
    }

    .hero-article .hero-left {
        display: flex;
        width: 80%;
        align-self: self-end;
    }

    .hero-left .bg-person {
        height: 45rem;
    }

    .hero-logo-box .hero-logo-div {
        height: 6rem;
        width: 6rem;
    }

    .hero-article .hero-right {
        width: 100%;
    }

    .banner-article .pba-wrapper {
        width: 100%;
    
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 2rem;
    }
    
    .pba-wrapper .hero-logo-box {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;
    }
    
    .hero-logo-box .pba-logo-div {
        height: 6rem;
        width: 6rem;
    }
    
    .pba-logo-div .img-fluid {
        height: 100%;
        width: 100%;
    }

}

/** large devices **/
@media only screen and (min-width: 992px) and (max-width: 1279px) {
    .video-overlay .bg-person {
        display: none;
    }

    .header .nav {
        flex-direction: row;
        width: 100%;
    }

    .nav .logo-container {
        padding: 0 1rem;
    }

    .logo-container .menu {
        display: none;
    }

    .nav .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100%;
        padding: 0;
    }

    .mobile-nav {
        display: none;
    }

    /*** H E R O  P A G E ***/
    .main {
        overflow: auto;
        gap: 0rem;

        align-items: start;
        justify-content: start;
    }

    .main::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
    }

    .main .section {
        margin-top: 7rem;
        padding: 1rem 1rem 1.5rem 1rem;
    }

    .hero-article .hero-left {
        display: flex;
        width: 80%;
        align-self: self-end;
    }

    .hero-left .bg-person {
        height: 30rem;
    }

    .bg-person .img-fluid {
        height: 100%;
        width: 100%;
    }

    .hero-article .hero-right {
        width: 100%;
        padding: 2rem;
    }

    .hero-right .hero-btn {
        font-size: 1rem;
    }

    /*** B A N N E R ***/
    .hero-right h1{
        font-size: 3.5rem;
    }

    .hero-right h4 {
        font-size: 1.5rem;
    }

    .hero-right p {
        font-size: 1.3rem;
    }

    .banner-article .pba-wrapper {
        width: 100%;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    
    .pba-wrapper .hero-logo-box {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 0.5rem;
    }
    
    .hero-logo-box .pba-logo-div {
        height: 6rem;
        width: 6rem;
    }
    
    .pba-logo-div .img-fluid {
        height: 100%;
        width: 100%;
    }

    .section-banner .banner-article {
        padding: 1rem;
    }

    .banner-article .banner-title-div {
        height: 13vh;
    }

    .banner-title-div .banner-title {
        font-size: 2.5rem;
        text-align: center;
    }  

    .banner-article .team-wrapper {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-logo-box .hero-logo-div {
        height: 6.5rem;
        width: 6.5rem;
    }

    .hero-logo-box .company-name {
        font-size: 1.3rem;
    }
}

/** medium devices **/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .video-overlay .bg-person {
        display: none;
    }

    .header {
         background-color: var(--txtWhite);
    }

    .header .nav {
        display: none;
    }

    .header .mobile-nav {
        width: 100%;
        padding: 1rem;

        display: flex;
        align-items: start;
        justify-content: space-between;

        position: fixed;
        top: 0;

        background-color: var(--txtWhite);
    }

    .mobile-nav .logo-div {
        width: 2rem;
        height: 1.8rem;

        position: absolute;
        top: 0.8rem;
    }

    .logo-div .img-fluid {
        height: 100%;
        width: 100%;
    }

    .dropdown {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .dropdown .dropbtn {
        color: var(--primary-txtColor);
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1rem;
        padding: 0.3rem 0 0 0;

        align-self: self-end;
    }

    .dropdown .dropdown-content {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        padding-top: 2rem;

        background-color: var(--txtWhite);
    }

    .dropdown-content li {
        list-style: none;
        padding: 1rem 0;
    }

    .dropdown-content li a {
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary-txtColor);
        text-decoration: none;
    }

    /*** H E R O  P A G E ***/
    .main {
        overflow: auto;
        gap: 0rem;

        align-items: start;
        justify-content: start;
    }

    .main::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
    }

    .main .section {
        margin-top: 4rem;
        padding: 3rem 1rem 1.5rem 1rem;
    }

    .section .hero-article {
        align-items: start;
    }

    .hero-article .hero-left {
        display: flex;
        width: 80%;
        align-self: self-end;
    }

    .hero-left .bg-person {
        height: 30rem;
    }

    .bg-person .img-fluid {
        height: 100%;
        width: 100%;
    }

    .hero-article .hero-right {
        width: 100%;
        padding: 0;
    }

    .hero-right .hero-btn {
        font-size: 1rem;
    }

    /*** B A N N E R ***/
    .hero-right h1{
        font-size: 3rem;
    }

    .hero-right h4 {
        font-size: 1.5rem;
    }

    .hero-right p {
        font-size: 1.3rem;
    }

    .banner-article .pba-wrapper {
        width: 100%;
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    
    .pba-wrapper .hero-logo-box {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 0.5rem;
    }
    
    .hero-logo-box .pba-logo-div {
        height: 4.5rem;
        width: 4.5rem;
    }
    
    .pba-logo-div .img-fluid {
        height: 100%;
        width: 100%;
    }

    .section-banner .banner-article {
        padding: 1.5rem 1rem;
    }

    .banner-article .banner-title-div {
        height: 10vh;
    }

    .banner-title-div .banner-title {
        font-size: 2.5rem;
        text-align: center;
    }  

    .banner-article .team-wrapper {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-logo-box .hero-logo-div {
        height: 5.5rem;
        width: 5.5rem;
    }

    .hero-logo-box .company-name {
        font-size: 1.1rem;
    }
}


/** standard devices **/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .video-overlay .bg-person {
        display: none;
    }

    .header {
         background-color: var(--txtWhite);
    }

    .header .nav {
        display: none;
    }

    .header .mobile-nav {
        width: 100%;
        padding: 1rem;

        display: flex;
        align-items: start;
        justify-content: space-between;

        position: fixed;
        top: 0;

        background-color: var(--txtWhite);
    }

    .mobile-nav .logo-div {
        width: 2rem;
        height: 1.8rem;

        position: absolute;
        top: 0.8rem;
    }

    .logo-div .img-fluid {
        height: 100%;
        width: 100%;
    }

    .dropdown {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .dropdown .dropbtn {
        color: var(--primary-txtColor);
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1rem;
        padding: 0.3rem 0 0 0;

        align-self: self-end;
    }

    .dropdown .dropdown-content {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        padding-top: 2rem;

        background-color: var(--txtWhite);
    }

    .dropdown-content li {
        list-style: none;
        padding: 1rem 0;
    }

    .dropdown-content li a {
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary-txtColor);
        text-decoration: none;
    }

    /*** H E R O  P A G E ***/
    .main {
        overflow: auto;
        gap: 2rem;

        align-items: start;
        justify-content: start;
    }

    .main::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
    }

    .main .section {
        margin-top: 4rem;
        padding: 2.3rem 1rem 1.5rem 1rem;
    }

    .hero-article .hero-left {
        display: none;
    }

    .hero-article .hero-right {
        width: 100%;
        padding: 2rem;
    }

    .hero-right .hero-btn {
        font-size: 1rem;
    }

    /*** B A N N E R ***/
    .hero-right h1{
        font-size: 3.5rem;
    }

    .hero-right h4 {
        font-size: 1.5rem;
    }

    .hero-right p {
        font-size: 1.3rem;
    }

    .banner-article .pba-wrapper {
        width: 100%;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    
    .pba-wrapper .hero-logo-box {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 0.5rem;
    }
    
    .hero-logo-box .pba-logo-div {
        height: 4rem;
        width: 4rem;
    }
    
    .pba-logo-div .img-fluid {
        height: 100%;
        width: 100%;
    }

    .section-banner .banner-article {
        padding: 1rem;
    }

    .banner-article .banner-title-div {
        height: 10vh;
    }

    .banner-title-div .banner-title {
        font-size: 2.3rem;
        text-align: center;
    }  

    .banner-article .team-wrapper {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: flex-start;
    }

    .hero-logo-box .hero-logo-div {
        height: 4.8rem;
        width: 4.8rem;
    }

    .hero-logo-box .company-name {
        font-size: 1.1rem;
    }
}

/** small devices **/
@media only screen and (min-width: 320px) and (max-width: 575px) {
    .video-overlay .bg-person {
        display: none;
    }

    .header {
         background-color: var(--txtWhite);
    }

    .header .nav {
        display: none;
    }

    .header .mobile-nav {
        width: 100%;
        padding: 1rem;

        display: flex;
        align-items: start;
        justify-content: space-between;

        position: fixed;
        top: 0;

        background-color: var(--txtWhite);
    }

    .mobile-nav .logo-div {
        width: 2rem;
        height: 1.8rem;

        position: absolute;
        top: 0.8rem;
    }

    .logo-div .img-fluid {
        height: 100%;
        width: 100%;
    }

    .dropdown {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .dropdown .dropbtn {
        color: var(--primary-txtColor);
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1rem;
        padding: 0.3rem 0 0 0;

        align-self: self-end;
    }

    .dropdown .dropdown-content {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        padding-top: 2rem;

        background-color: var(--txtWhite);
    }

    .dropdown-content li {
        list-style: none;
        padding: 1rem 0;
    }

    .dropdown-content li a {
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary-txtColor);
        text-decoration: none;
    }

    /*** H E R O  P A G E ***/
    .main {
        overflow: auto;
        gap: 4rem;

        align-items: start;
        justify-content: start;
    }

    .main::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
    }

    .main .section {
        margin-top: 4rem;
        padding: 2.3rem 1rem;
    }

    .hero-article .hero-left {
        display: none;
    }

    .hero-article .hero-right {
        width: 100%;
        padding: 0;
    }

    .hero-right .hero-btn {
        font-size: 0.9rem;
    }

    /*** B A N N E R ***/
    .hero-right h1{
        font-size: 3.3rem;
    }

    .hero-right h4 {
        font-size: 1.3rem;
    }

    .hero-right p {
        font-size: 1rem;
    }

    .banner-article .pba-wrapper {
        width: 100%;
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
    .pba-wrapper .hero-logo-box {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 0.5rem;
    }
    
    .hero-logo-box .pba-logo-div {
        height: 4rem;
        width: 4rem;
    }
    
    .pba-logo-div .img-fluid {
        height: 100%;
        width: 100%;
    }

    .section-banner .banner-article {
        padding: 1rem;
    }

    .banner-article .banner-title-div {
        height: 15vh;
    }

    .banner-title-div .banner-title {
        font-size: 2rem;
        text-align: center;
    }  

    .banner-article .team-wrapper {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-logo-box .hero-logo-div {
        height: 4.5rem;
        width: 4.5rem;
    }

    .hero-logo-box .company-name {
        font-size: 1rem;
    }
}

/** extra small devices **/
@media only screen and (min-width: 280px) and (max-width: 319px) {
    .video-overlay .bg-person {
        display: none;
    }

    .header {
         background-color: var(--txtWhite);
    }

    .header .nav {
        display: none;
    }

    .header .mobile-nav {
        width: 100%;
        padding: 1rem;

        display: flex;
        align-items: start;
        justify-content: space-between;

        position: fixed;
        top: 0;

        background-color: var(--txtWhite);
    }

    .mobile-nav .logo-div {
        width: 2rem;
        height: 1.8rem;

        position: absolute;
        top: 0.8rem;
    }

    .logo-div .img-fluid {
        height: 100%;
        width: 100%;
    }

    .dropdown {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .dropdown .dropbtn {
        color: var(--primary-txtColor);
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1rem;
        padding: 0.3rem 0 0 0;

        align-self: self-end;
    }

    .dropdown .dropdown-content {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        padding-top: 2rem;

        background-color: var(--txtWhite);
    }

    .dropdown-content li {
        list-style: none;
        padding: 1rem 0;
    }

    .dropdown-content li a {
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary-txtColor);
        text-decoration: none;
    }

    /*** H E R O  P A G E ***/
    .main {
        overflow: auto;
        gap: 4rem;

        align-items: start;
        justify-content: start;
    }

    .main::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
    }

    .main .section {
        margin-top: 4rem;
        padding: 2.3rem 1rem;
    }

    .hero-article .hero-left {
        display: none;
    }

    .hero-article .hero-right {
        width: 100%;
        padding: 0;
    }

    .hero-right .hero-btn {
        font-size: 0.9rem;
    }

    /*** B A N N E R ***/
    .hero-right h1{
        font-size: 3.3rem;
    }

    .hero-right h4 {
        font-size: 1.3rem;
    }

    .hero-right p {
        font-size: 1rem;
    }

    .section-banner .banner-article {
        padding: 1rem;
    }

    .pba-section-banner .banner-article {
        padding: 1rem;
    }

    .banner-article .pba-wrapper {
        width: 100%;
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
    .pba-wrapper .hero-logo-box {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 0.5rem;
    }
    
    .hero-logo-box .pba-logo-div {
        height: 4rem;
        width: 4rem;
    }
    
    .pba-logo-div .img-fluid {
        height: 100%;
        width: 100%;
    }

    .banner-article .banner-title-div {
        height: 10vh;
    }

    .banner-title-div .banner-title {
        font-size: 1.5rem;
        text-align: center;
    }


    .banner-article .team-wrapper {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .hero-logo-box .hero-logo-div {
        height: 4rem;
        width: 4rem;
    }

    .hero-logo-box .company-name {
        font-size: 0.9rem;
    }
}